<div class = 'row'>
  <div class = 'col-sm-12 text-centered'>
    <h2 class = 'maintitle'>O nama</h2>
  </div>
</div>

<div class = 'row features wrap-em well well-md'>
  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-briefcase"></i>
    <h3 class = 'bold-it'>Svrha<h3>
    <p class = 'smaller-font'>Svrha ove prodavnice je da znatiželjnima i kupcima pruži uvid u proizvode koje nudimo.
      Proizvodi su razvrstani u više kategorija: stari novac, markice, proizvodi od papira i kartona,...
      kako bi bilo omogućeno da svako lako nađe ono što ga interesuje.</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-barcode"></i>
    <h3 class = 'bold-it'>O našim proizvodima</i><h3>
    <p class = 'smaller-font'>Prodajemo proizvode visokog kvaliteta po najboljim cenama. Članovi smo Srpskog numizmatičkog
      društva i sve što prodajemo je ORIGINALNO. Kopiranje novca je ozbiljan prekršaj. </p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-piggy-bank"></i>
    <h3 class = 'bold-it'>Cene</i><h3>
    <p class = 'smaller-font'>Trudimo se da cene budu najniže u Beogradu. Osim toga moguć je dogovor oko popusta od 5% do 15% u zavisnosti
       od robe koju želite kao i od količine. :)</p>
  </div>

</div>

<div class = 'row features wrap-em well well-md'>
  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-euro"></i>
    <h3 class = 'bold-it'>Plaćanje<h3>
    <p class = 'smaller-font'>Plaćanje je za sad moguće samo na dva načina : pouzećem i ličnim preuzimanjem. Jedno smo od malo mesta u
      gradu gde je moguće platiti u dinarima, evrima i američkim dolarima. Radimo na tome da online naručivanje bude omogućeno tako da se
      proizvodi mogu plaćati karticom.</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-tree-deciduous"></i>
    <h3 class = 'bold-it'>Lokacija<h3>
    <p class = 'smaller-font'>Možete nas naći na najlepšoj lokaciji u gradu - u Kalemegdanskom parku.
       Kalemegdanski park je nezaobilazna destinacija svih turista koji dolaze u Beograd.</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-hourglass"></i>
    <h3 class = 'bold-it'>Radno vreme<h3>
    <p class = 'smaller-font'>Možete nas naći na Kalemegdanu od 08 do 20 časova tokom leta,
      a zimi radimo nešto kraće od 9 do 17 časova. Na mejl odgovaramo u roku od 24 sata.</p>
  </div>

</div>
