<div class = 'row'>
  <div class = 'col-sm-12 text-centered'>
    <h2 class = 'maintitle'>{{LangCtrl.lang.about}}</h2>
  </div>
</div>

<div class = 'row features wrap-em well well-md'>
  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-briefcase"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.cause}}<h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.abouttext}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-barcode"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.aboutproduct}}</i><h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.aboutproducttext}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-piggy-bank"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.prices}}</i><h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.abouttext1}}</p>
  </div>

</div>

<div class = 'row features wrap-em well well-md'>
  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-euro"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.payment}}<h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.abouttext2}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-tree-deciduous"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.location}}<h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.locationtext}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-hourglass"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.horario}}<h3>
    <p class = 'smaller-font'>{{LangCtrl.lang.horariotext}}</p>
  </div>

</div>
