<div class = 'row'>
  <div class = 'col-sm-12 text-centered'>
    <h2 class = 'maintitle'>{{LangCtrl.lang.about}}</h2>
  </div>
</div>

<div class = 'row  features'>
  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-briefcase"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.cause}}<h3>
    <p>{{LangCtrl.lang.abouttext}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-tag"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.prices}}</i><h3>
    <p>{{LangCtrl.lang.abouttext1}}</p>
  </div>

  <div class = 'col-sm-4'>
    <i class = "glyphicon glyphicon-piggy-bank"></i>
    <h3 class = 'bold-it'>{{LangCtrl.lang.payment}}<h3>
    <p>{{LangCtrl.lang.abouttext2}}</p>
  </div>

</div>
