<div class = 'row'>
  <!-- TODO : here should be used change user controller by his id or email... OR the function in front end will be changed OR new controller will be added -->
  <h1 class = 'maintitle'><i class = 'glyphicon glyphicon-blackboard'></i> Admin panel </h1>

<!--Show order and change user part -->
  <div class = 'row well well-md'>
    <div class = 'col-sm-6'>
      <h3 class = 'color-it-gray bold-it'><i class = 'glyphicon glyphicon-duplicate'></i> Prikaz narudžbina
         <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#orderShow'></span>
      </h3>
      <div class = 'collapse' id = "orderShow" >   <h1> HELLO! </h1> </div>

      <!-- TODO : Here should be added some order filter -->
    </div>

    <div class = 'col-sm-6'>
      <h3 class = 'color-it-gray bold-it'><i class = 'glyphicon glyphicon-user'></i> Izmeni korisnika
        <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#changeUserShow'></span>
      </h3>
      <div id = "changeUserShow" class = 'collapse' ng-controller = 'MSUserController'>
        <p class = 'color-it-gray'> <i class = 'glyphicon glyphicon-search'></i>Unesite korisnikov id ili email:</p> <input type = 'text' ng-model = 'info.field'>
        <button class="btn btn-primary btn-xs color-it-g submit" ng-click = 'searchUser()'>
          <span class="glyphicon glyphicon-search"></span>
        </button>
        <p class = 'warning'></span>{{info.errormsg}}</p>
        <fieldset>
          <p><label>Ime: </label> <input type = 'text' ng-model = 'info.name'></p>
          <p><label>Prezime: </label> <input type = 'text' ng-model = 'info.surname'></p>
          <p><label>Adresa: </label> <input type = 'text' ng-model = 'info.address'></p>
          <p><label>Grad: </label> <input type = 'text' ng-model = 'info.city'></p>
          <p><label>Država: </label> <input type = 'text' ng-model = "info.country"></p>
          <p><label>Telefon: </label> <input type = 'text' ng-model = "info.telephone"></p>
        </fieldset>
        <p class = 'warning'>{{info.errormsg1}}</p>
        <p class = 'right-it'>
            <button type = 'submit' class = 'btn btn-primary' data-title="Edit" ng-click = 'changeUInfo()'>
                <span class="glyphicon glyphicon-ok-sign"></span> Izmeni
            </button>
        </p>
      </div>
    </div>

  </div>

<!--Add product and add category part -->
  <div class = 'row well well-md'>
    <div class = 'col-sm-6'>
      <h3 class = 'color-it-gray bold-it'><i class = 'glyphicon glyphicon-plus'></i> Dodaj proizvod
        <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#addProductShow' ></span></h3>
      <div id = "addProductShow" class = 'collapse'>
       <fieldset>
        <!-- TODO : create controller that adds new category-->
         <p><label>Ime proizvoda: </label> <input type = 'text' ng-model = 'info.name'></p>
         <p><label>Opis proizvoda: </label> <input type = 'text' ng-model = 'info.description'></p>
         <p><label>Na stanju: </label> <input type = 'text' ng-model = 'info.in_stock'></p>
         <p><label>Cena po komadu: </label> <input type = 'text' ng-model = 'info.price_per_piece'></p>
         <div class = 'form-group'>
           <label for = 'sel1'>Odaberite kategoriju proizvoda:</label>
           <select class = 'form-control' id = 'sel1'>
             <option ng-repeat='category in categories.slice(1, categories.length)' value="{{category.id}}" ng-model = 'info.category'><a href = '#/catalogue/{{category.id}}'>{{category.name}}</a></option>
           </select>
         </div>
       </fieldset>
       <p class = 'right-it'>
           <button type = 'submit' class = 'btn btn-primary' data-title="Edit">
               <span class="glyphicon glyphicon-ok-sign"></span> Potvrdi
           </button>
       </p>
      </div>
    </div>

    <div class = 'col-sm-6'>
      <!-- ng-controller = 'newcategoryController' -->
     <h3 class = 'color-it-gray bold-it'><i class = 'glyphicon glyphicon-th-list'></i> Dodaj kategoriju
       <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#addCategoryShow' ></span></h3>
     <div id = "addCategoryShow" class = 'collapse'>
      <fieldset>
        <!-- TODO : create controller that adds new category-->
        <p><label>Ime kategorije: </label> <input type = 'text' ng-model = 'info.name'></p>
        <p class = 'right-it'>
            <button type = 'submit' class = 'btn btn-primary' data-title="Edit">
                <span class="glyphicon glyphicon-ok-sign"></span> Dodaj
            </button>
        </p>
      </fieldset>
     </div>
    </div>

  </div>
</div>
