<div class = 'row text-center'>
  <div ng-controller = 'StoreController as store'>
  <!--  <div ng-repeat = 'product in store.products'>
      <h2> {{product.name}} </h2>
      <h3> {{product.price}} din. </h3>
      <p> {{product.description}} </p>
      <button ng-show = "product.canPurchase"> Dodaj u korpu </button>
    </div> -->
    <h1>{{product.name}}</h1>
    <p>{{product.description}}</p>
    <p>{{product.errormsg}}</p>
  </div>


<h1>All products</h1>
<div class="row">
    <div class="col-sm-3" style="">     
    <ul class="list-group"> 
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.allproducts}}</a></li>
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.ceramics}}</a></li>
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.old_money}}</a></li>
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.stamps}}</a></li>
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.postcards}}</a></li>
                <li class="list-group-item"><a href = '#/catalogue'>{{LangCtrl.lang.other}}</a></li>
    </ul>
    </div>
    <div class="col-sm-1" ></div>
    <div class="col-sm-8" >
        <!-- kako izlistavati   -->
        
    </div>
  </div>

 
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
