<div class = 'row text-center' ng-controller = 'StoreController as store' >
  <div class="col-sm-3 m-top">
    <ul class="list-group">
      <li class = 'list-group-item' ng-repeat='category in categories'><a href = '#/catalogue/{{category.id}}'>{{category.name}}</a></li>
    </ul>
  </div>

  <div class="col-sm-9" >

   <h1 class = 'maintitle'>{{categories[categoryid].name}}</h1>
    <div>
      <div class = 'catalogue-container'>
        <div class = 'catalogue-row' ng-repeat="id in range(0, Math.ceil(products.length / 2))">
          <div class = 'catalogue-col well well-sm'>
            <product prodid="2 * id" selprod="$parent.selectedProduct"></product>
          </div>
          <div class = 'catalogue-col well well-sm' ng-show="2 * id + 1 < products.length">
            <product prodid="2 * id + 1" selprod="$parent.selectedProduct"></product>
          </div>
        </div>
      </div>
      <div class="modal fade" id="moreinfo" tabindex="-1" role="dialog" aria-labelledby="moreinfo" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align maintitle">Informacije o proizvodu</h4>
            </div>
            <h3 id="nameOfProduct">{{products[selectedProduct].name}}</h3>
            <div class = 'price-div'>
              <p class = 'color-it-gray bold-it price-disp'><i class = 'glyphicon glyphicon-tag color-it'></i>
                Cena : <i class = 'color-it left-it'>{{products[selectedProduct].price_per_piece | currency : "RSD " : 2}}</i></p>
              <div class = 'add-disp'>
                <input ng-show = "products[selectedProduct].in_stock" type="checkbox" name="addtocart" value="add">
                <span onclick = "addToCart()" ng-show = "products[selectedProduct].in_stock" class = 'color-it bold-it right-it'><i class = 'glyphicon glyphicon-shopping-cart'></i> Dodaj u korpu</span>
              </div>
            </div>
            <p class = 'well well-sm'>{{products[selectedProduct].description}}</p>
            <carousel></carousel>
              <!--<img ng-repeat = "image in products[selectedProduct].imgs" ng-src = '{{"../app/assets" + image.path}}' alt = "productpic" class = 'logo'>-->
            </div>
          </div>
        </div>
      </div>

      <nav aria-label='Page navigation'>
        <ul class='pagination'>
          <li>
            <a href = '#' aria-label = 'Previous'>
              <span aria-hidden = 'true'>&laquo;</span>
            </a>
          </li>
          <li ng-repeat="page in pages"><a href = '#/catalogue/{{categoryid}}/{{page}}'>{{page}}</a></li>
          <li><a href = '#' aria-label = 'Next'>
              <span aria-hidden = 'true'>&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>
