<div class = 'row text-center'  ng-controller = 'StoreController as store'>
  <div class="col-sm-3">
    <ul class="list-group">
      <li class = 'list-group-item' ng-repeat='category in categories'><a href = '#/catalogue/{{$index}}'>{{category.name}}</a></li>
    </ul>
  </div>

  <div class="col-sm-9" >
    <h1 class = 'maintitle'>{{categories[categoryid].name}}</h1>
    <div>
      <div class = 'well well-sm'>
        <h2 class = 'color-it-gray'>{{product.name}}</h2>
        <img ng-src = '{{"../app/assets" + product.images[0].path}}' alt = 'productpic' id = 'logo'>
        <p>{{product.errormsg}}</p>

      <p class = 'right-it'>
        <button type = 'submit' class = 'btn btn-primary' data-title="Edit" data-toggle="modal" data-target="#moreinfo">
          <span class="glyphicon glyphicon-ok-sign"></span>Saznaj više
        </button>
      </p>

      <div class="modal fade" id="moreinfo" tabindex="-1" role="dialog" aria-labelledby="moreifo" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Header -->
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
              <h4 class="modal-title custom_align maintitle">Informacije o proizvodu</h4>
            </div>
            <div>
              <h3>{{product.name}}</h3>
              <p>{{product.description}}</p>
              <img ng-src = '{{"../app/assets" + product.images[0].path}}' alt = 'productpic' id = 'logo'>
              <img ng-src = '{{"../app/assets" + product.images[1].path}}' alt = 'productpic' id = 'logo'>
            </div>
            <div>
              <input type="checkbox" name="addtocart" value="add"><p class = 'color-it-gray bold-it'>Dodaj u korpu</p></input>
            </div>
          </div>
        </div>
      </div>

      </div>
      <nav aria-label='Page navigation'>
        <ul class='pagination'>
          <li>
            <a href = '#' aria-label = 'Previous'>
              <span aria-hidden = 'true'>&laquo;</span>
            </a>
          </li>
          <li><a href = '#'>1</a></li>
          <li><a href = '#'>2</a></li>
          <li><a href = '#'>3</a></li>
          <li><a href = '#'>4</a></li>
          <li><a href = '#'>5</a></li>
          <li><a href = '#' aria-label = '#'>
              <span aria-hidden = 'true'>&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
