<div class = 'row '>
  <div class = 'col-sm-12 text-centered'>
    <h2 class = 'maintitle'>{{LangCtrl.lang.history}}</h2>
    <div class = 'col-sm-12 well well-md'>
      <h3>{{LangCtrl.lang.olga}}</h3>
      <p>{{LangCtrl.lang.historytext}}</p>
    </div>
  </div>
</div>

<div class = 'row'>
  <div class = 'col-sm-4'>
    <img src = '../app/assets/img/other/olga.jpg' alt = 'OlgaWithHat'  class = 'img-thumbnail' style = "width: 80%; height: 125%;">
  </div>

  <div class = 'col-sm-4'>
    <img src ='../app/assets/img/other/olga1.jpg' alt = 'Olga'  class = 'img-thumbnail' style = "width: 80%; height: 125%;">
  </div>

  <div class = 'col-sm-4 well well-lg'>
    <p><i><b>{{LangCtrl.lang.quotesh}}</b></i> - Olga</p>
  </div>
</div>
