<div class = 'container row-text-center'>
  <div class = 'col-sm-2'>
  </div>
  <div class = 'col-sm-8 well well-lg center-it'>
    <form ng-controller = 'LoginController as LogCtrl' ng-submit = 'loginUser()'>
      <h1>{{LangCtrl.lang.logindata}}</h1>
      <p><label>e-mail: </label> <input type='email' ng-model="info.email"></p>
      <p><label>password: </label><input type = 'password' ng-model="info.password"></p>
      <input type="submit" value="Login">
      <p>{{LangCtrl.lang.forgotpass}}</p>
      <p style="color:red">{{info.errormsg}}</p>
    </form>
  </div>
</div>
