<!-- These are buttons that can be added if they are found necessary
<div class = 'row'>
  <div class = 'col-sm-12'>
    <button type = 'button' class = 'btn btn-lg'>Istorijat</button>
    <button type = 'button' class = 'btn btn-lg'>Proizvodi od keramike</button>
    <button type = 'button' class = 'btn btn-lg'>Stari novac</button>
    <button type = 'button' class = 'btn btn-lg'>Markice</button>
    <button type = 'button' class = 'btn btn-lg'>Proizvodi od papira i kartona</button>
    <button type = 'button' class = 'btn btn-lg btn-primary' >Kontakt i narucivanje</button>
  </div>
</div> -->

<!--<div class = 'row col-xs-12'>
  <p> </p>
</div> -->

<div class = 'row text-center'>
  <div class = 'col-sm-8 well well-lg'>
    <h2>{{LangCtrl.lang.welcome}}</h2>
    <p class = 'lead'> {{LangCtrl.lang.shortdesc}} </p>
  </div>
  <div class = 'col-sm-3 col-sm-offset-1 hidden-xs' >
    <img src = '../app/assets/img/other/olga.jpg' class = "img-circle" alt = 'OlgaWithHat' style = "width: 120%; height: 140%;">
  </div>
</div>

<div class = 'row features'>
  <div class = 'col-sm-4 col-xs-offset-1 col-sm-offset-0'>
    <i class = 'glyphicon glyphicon-tower'> </i>
    <h3>{{LangCtrl.lang.sh}}</h3>
    <p>{{LangCtrl.lang.shorthistory}}</p>
  </div>
  <div class = 'col-sm-4 '>
    <i class = 'glyphicon glyphicon-heart'> </i>
    <h3>{{LangCtrl.lang.motivation}}</h3>
    <p><i>{{LangCtrl.lang.quotesh}}</i> - Olga</p>
  </div>
  <div class = 'col-sm-4'>
    <i class = 'glyphicon glyphicon-globe'> </i>
    <h3>{{LangCtrl.lang.goal}}</h3>
    <p>{{LangCtrl.lang.goaltext}}</p>
  </div>
</div>
