<!DOCTYPE html>
<html lang = 'rs' >

  <head>
    <title>Olgina prodavnica suvenira</title>
    <meta charset="utf-8">
    <link href = "../app/assets/css/bootstrap.css" rel = "stylesheet">
    <link href = "../app/assets/css/main.css" rel = "stylesheet">

    <!--libraries -->
    <script src = "../app/assets/js/jquery.min.js"></script>
    <script type = "text/javascript" src = "../app/assets/js/angular.min.js"></script>
    <script type = "text/javascript" src = "../app/assets/js/angular-sanitize.min.js"></script>
    <script src = "../app/assets/js/angular-route.js"></script>
    <script src = "../app/assets/js/bootstrap.js"></script>
    <script type = "text/javascript" src = "../app/app.js"></script>


    <!--- routes,services and controllers -->
    <script type = "text/javascript" src = "../app/controllers/routes.js"></script>
    <script type = "text/javascript" src = "../app/controllers/LoginController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/LogoutController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/RegisterController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/StoreController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/CategoryController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/UserController.js"></script>
    <script type = "text/javascript" src = "../app/controllers/ChangeinfoController.js"></script>
    
    <!-- css and controller-->
    <script type="text/javascript" src="../app/loveYou.js"></script>
    <script type="text/javascript" src="../app/controllers/moreInfoController.js"></script>
    <link rel="stylesheet" type="text/css" href="../app/moreInfo.css">


  </head>

  <body ng-app="Store" >

<div class="row">
  <div class="col-sm-8"><div ng-app="app">
  <div ng-controller="moreInfo" id="slides_control">
    <div>
      <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
          <img ng-src="{{slide.image}}">
          <div class="carousel-caption">
            <h4>Slika {{$index+1}}</h4>
          </div>
        </slide>
      </carousel>
    </div>
  </div>
</div> </div>
  <div class="col-sm-4" style="margin-top:20px;">
      <ul class="list-group">
    <li class="list-group-item">Ime: {{product.name}}</li>
    <li class="list-group-item">Opis: {{product.description}}</li>
    <li class="list-group-item">Kolicina: </li>
    <li class="list-group-item">Cena: {{product.price}} rsd</li>
    <li class="list-group-item"><p>
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-shopping-cart"></span> Korpa
        </button>
      </p></li>
  </ul>

    

  </div>
  
</div>



<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>



  </body>
</html>
