<div class = 'row' ng-controller = 'UserController'>
  <h1 class = 'maintitle'> <i class = 'glyphicon glyphicon-user'></i>Vaši podaci</h1>
  <div class = 'col-sm-2'></div>
  <div class = 'col-sm-8 text-centered well well-md'>
    <fieldset>
      <p><label>Ime: </label> {{info.name}} </p>
      <p><label>Prezime: </label> {{info.surname}} </p>
      <p><label>Adresa: </label></p>
      <p><label>Grad: </label></p>
      <p><label>Država: </label></p>
      <p><label>Telefon: </label> </p>
    </fieldset>
  </div>
</div>
