<h1 class = 'maintitle'>Vaše narudžbine </h1>
<div class = 'row well well-md'>

    <div class = 'col-sm-6' ng-controller = 'orderController'>
      <h3 class = 'color-it-gray bold-it center-it'><i class = 'glyphicon glyphicon-duplicate'></i> Prikaz narudžbina
         <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#orderShow' ng-click = 'getOrders()'></span>
      </h3>
      <div class = 'collapse' id = "orderShow">
              <!-- TODO : Here should be added some order filter -->
              <!--here should be ng-repeat over orders -->
        <div style = 'border-bottom: 2px solid #E80C39' ng-repeat = 'order in orderinfo'>
          <p class = 'color-it-gray bold-it'> ID narudžbine:
            <i class = 'color-it bold-it'>{{order.id}}</i>
            <a data-toggle="tooltip" data-placement="top" title="Na osnovu ID narudžbine, u slučaju problema možete se obratiti preko mejla">
              <span class = 'glyphicon glyphicon-info-sign color-it-gray'></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Kada ikonica postane roze,vaša narudžbina je spremna">
              <span class = 'color-it glyphicon glyphicon-road'></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Vaša narudžbina je prihvaćena i više je ne možete otkazati.">
              <span class = 'glyphicon glyphicon-ok-circle' style = 'color: green;'></span>
            </a>
          </p>
            <table id = 'usertable' class = 'table table-bordred table-striped'>
            <thead>
              <th>Proizvod</th>
              <th>Količina</th>
              <th>Cena</th>
            </thead>
            <tbody id="usertable">
              <tr ng-repeat = 'product in order.products'>
                <td  ng-bind = 'product.name'></td>
                <td ng-bind = 'product.quantity'></td>
                <td ng-bind = 'product.price_per_piece'></td>
              </tr>
            </tbody>
          </table>
          <p class = 'color-it bold-it right-it'><label class = 'color-it-gray'> Ukupna cena porudžbine: </label>{{order.amount}} RSD</p>
        </div>

    </div>
  </div>

  <div class = 'col-sm-6'>
    <h3 class = 'color-it-gray center-it bold-it'> Filter narudžbina
      <span class="glyphicon glyphicon-chevron-down" data-toggle = 'collapse' data-target = '#showFilter'></span>
    </h3>
    <div class = 'collapse' id = 'showFilter'>
      <!--
      <div class = 'form-group'>
        <div class="radio">
          <label><input type="radio" value="">Potvrđene</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="">Spremne za preuzimanje</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="">Otkazane</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="">Na čekanju</label>
        </div>
        <div class="radio">
          <label><input type="radio" value="">Preuzete</label>
        </div>
      </div>
    -->
      <div class = 'form-group'>
        <label class = 'color-it-gray bold-it' for = 'sel2'>Filter prema narudžbinama koje su:</label>
        <select class = 'form-control' id = 'sel2' >
          <option>Potvrđene</option>
          <option>Spremne za preuzimanje</option>
          <option>Otkazane</option>
          <option>Na čekanju</option>
          <option>Preuzete</option>
          <option>Sve</option>
        </select>
      </div>

    </div>
  </div>

</div>
