/*colouring glyphicon icons for the store*/
.features .glyphicon{
  font-size: 32px;
  color: #E80C39;
}

.footer a{
  color: black;
}

/*btn primary is if the "big" menu bar is used*/
.btn-primary{
  background-color: #E80C39;
  border-color: #E80C39;
}

.btn-primary:hover {
  background-color: #E80C39;
  border-color: #E80C39;
}

.maintitle{
  color: #E80C39;
}

.center-it{
  text-align: center;
}

.nav.navbar-nav.navbar-right li a{
  color: #E80C39;
}

.navbar-header.navbar-brand a{
  color: #E80C39;
}

/*#1849E8 lepa plava*/
#logo{
  width: 60%;
  height: 100%;
}

#pagecontent{
  padding-top : 10px;
  padding-bottom : 10px;
}

label{
  display : inline-block;
  width : 30%;
  text-align : right;
  margin-right : 5px;
  margin-top : 5px;
}

input{
  display : inline-block;
  margin : 5px;
}
